/** Colors **/
.background-grey { background-color: #141111 }
.font-grey {color: #E7E4E5}
.dark-grey {color: #141111}

.overrideBody
{
  font-family:"Open Sans";
  font-weight:300;
  font-size:15px;
}
.buttonBody
{
  font-family:"Open Sans";
  font-weight:300;
  font-size:36px;
}

/** Body, divs **/
/** Consider buying Pacioli **/
html
{
  background-color:#141111;
}
head
{
  background-color:#141111;
}
body
{
  color:#FFF;
  background-color:#141111;
}
body.background
{
  background-image:url("/assets/background.JPG");
  background-size:100% 100%;
}
div.center
{
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}
div.left
{
  text-align:left;
}
div.right
{
  text-align:right;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push
{
  height: 60px;
}
#head
{
  position:relative;
  width:100%;
  top:0px;
}
.pic
{
  width:20%;
}
#display
{
  text-align:center;
}
#tile_pic
{
  width:25%;
  float:right;
  padding-top:10px;
}
.tag
{
  margin-top:10px;
  margin-bottom:10px;
  padding-left:10px;
  padding-right:10px;

}
.tag:hover
{
  color:#79CED6;
}
/** Text **/
text
{
  font-family:"Open Sans";
  font-size:15px;
}
h1
{
  font-family:"Open Sans";
  font-weight:300;
}
h2
{
  font-weight:300;
  font-family:"Open Sans";
}
h3
{
  font-weight:300;
  font-family:"Open Sans";
}

li.active
{
  color:#Ef3242;
}

/** Links **/
a
{
  font-family:"Open Sans";
  font-size:15px;
  text-decoration:none;
  color:#18848E;
}
a:link
{
  color:#18848E;
}
a:visited
{
  color:#18848E;
}
a:hover
{
  cursor:pointer;
  color:#79CED6;
}
a:active
{
  color:#18848E;
}
text:hover
{
  cursor:default;
}

/** Pictures **/
.codelogo
{
width:100%;
}
.icon
{
  width:100%;
}
#profile_pic
{
  width:100%;
}
@media (max-width: 767px)
{
  body
  {
    padding-top:0px;
  }
  #content
  {
    text-align:center;
  }
}
